body {
    font-family: sans-serif;
}

.header {
    padding: 10px;
    background-color:#06069B;
    color: rgb(22, 22, 30);
    font-size: 50px;
    text-align: center;

}

.wrapper {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.column-title {
    font-weight: bold;
    font-size: 40px;
}

.row-icon {
    align-content: right;
}

.grid-child {
    padding-bottom: 50px;
}
